* {
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
background-color: #fff;;
display: flex;
justify-content: space-between;
}
#search {
margin: auto 10px;
max-width: 40%;
position: relative;
overflow: hidden;
}
input {
cursor: pointer;
border: 1px solid #ccc;
border-radius: 4px;
margin: 0;
max-width: 80%;
}
button {
margin: 0;
border: none;
background-color: white;
}
nav {
width: 100%;
background-color: #fff;
text-align: center;
border-top: 1px solid rgb(56, 56, 56);
border-bottom: 1px solid rgb(56, 56, 56);
}
ul li {
list-style: none;
display: inline-block;
line-height: 4vw;
width: 12%;
}
ul li a {
display: block;
text-decoration: none; /*so kann man etwas anklickbares erstellen */
font-size: 14px;
font-family: arial;
color: #1e1e1e;
padding: 0 20px;
}
ul li a:hover {
color: gray;
}
#grid {
display: grid;
grid-template-columns: auto;
justify-content: center;
background-color: #fff;
padding: 10px;
padding-right: 23px;
}
h3 {
margin: 10px;
}
#description {
height: auto !important;
}
#grid-item1 {
background-image: url("https://images.pexels.com/photos/10895948/pexels-photo-10895948.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
background-size: cover;
}
.grid-item {
margin: 3vh;
width: 40vh;
height: 40vh;
object-fit: cover;
min-width: 24vh;
min-height: 24vh;
text-align: center;
display: flex;                   
flex-direction: column-reverse;   
margin: 20px auto;      
}
p {
opacity: 0.7;
font-size: 1.8vh;
background: #fff;
padding: 3px;
}
h1 {
margin: 1vw;
font-family: 'Montserrat', sans-serif;
}
h2 {
opacity: 0.7;
font-size: 1.8vh;
background: #fff;
padding: 3px;
}
footer { 
border-top: 15px solid #000;
background-color: black;
text-align: center;
clear: both;
height: 200px;
border-collapse: collapse;
}
footer > nav {
background-color: black;
border: none;
}
.unten {
color: white;
}
footer > p {
margin-top: 1vw;
background-color: black;
color: white;
}
.fa {
padding: 0.2vw;
font-size: 2vw;
width: 4vw;
text-decoration: none;
margin: 5px 2px;
color: white;
}
@media screen and (min-width: 480px) {
  ul li {
    line-height: 4vw;
  }
  ul li a {
    font-size: 14px;
    padding: 0 20px;
  }
  p {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 3vh;
  }
  .grid-item {
  width: 50vh;
  height: 50vh;
  }
  #search {
    max-width: 20%;
  }
}